In [1]:
from main import DataLoader
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [2]:
#%matplotlib notebook

In [3]:
from main import FileHospitalGeneralData
from main import FileHosipitalSpendingNationalData
from main import FilePhysicianData
from main import FilePhysicianNationalData
from main import FilePhysicianGroupMIPSData
from main import FilePhysicianIndivialMIPSData

In [4]:
physiciangeneraldata=DataLoader.LoadFile(FilePhysicianNationalData)

C:\Users\jules\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3242: DtypeWarning: Columns (15,25,27,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
physiciangeneraldata.head()

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,assgn
0,1003000126,7517003643,I20130530000085,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
1,1003000126,7517003643,I20130530000085,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
2,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
4,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [9]:
physiciangeneraldata.columns

Index(['NPI', ' Ind_PAC_ID', ' Ind_enrl_ID', ' lst_nm', ' frst_nm', ' mid_nm',
       ' suff', ' gndr', ' Cred', ' Med_sch', ' Grd_yr', ' pri_spec',
       ' sec_spec_1', ' sec_spec_2', ' sec_spec_3', ' sec_spec_4',
       ' sec_spec_all', ' org_nm', ' org_pac_id', ' num_org_mem', ' adr_ln_1',
       ' adr_ln_2', ' ln_2_sprs', ' cty', ' st', ' zip', ' phn_numbr',
       ' hosp_afl_1', ' hosp_afl_lbn_1', ' hosp_afl_2', ' hosp_afl_lbn_2',
       ' hosp_afl_3', ' hosp_afl_lbn_3', ' hosp_afl_4', ' hosp_afl_lbn_4',
       ' hosp_afl_5', ' hosp_afl_lbn_5', ' assgn'],
      dtype='object')

In [18]:
renamed_df = physiciangeneraldata.rename(columns={" Ind_PAC_ID":"Individual Pac ID", " lst_nm":"Last Name", " frst_nm":"First Name",})
renamed_df.head()

,NPI,Individual Pac ID,Ind_enrl_ID,Last Name,First Name,mid_nm,suff,gndr,Cred,Med_sch,...,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,assgn
0,1003000126,7517003643,I20130530000085,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
1,1003000126,7517003643,I20130530000085,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
2,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y
4,1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,...,CJW MEDICAL CENTER,490107,RESTON HOSPITAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [20]:
clean_physiciangeneraldata=renamed_df[['NPI', 'Individual Pac ID','Last Name','First Name',' gndr', ' Med_sch', ' Grd_yr', ' pri_spec',' org_nm', ' org_pac_id', ' num_org_mem',' adr_ln_1',
       ' adr_ln_2', ' cty', ' st', ' zip', ' phn_numbr']]
clean_physiciangeneraldata

,NPI,Individual Pac ID,Last Name,First Name,gndr,Med_sch,Grd_yr,pri_spec,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,cty,st,zip,phn_numbr
0,1003000126,7517003643,ENKESHAFI,ARDALAN,M,OTHER,1994.0,INTERNAL MEDICINE,EMERGENCY MEDICINE ASSOCIATES PA PC,8.022915e+09,394.0,1850 TOWN CTR PKWY,NaN,RESTON,VA,201903219,7.036899e+09
1,1003000126,7517003643,ENKESHAFI,ARDALAN,M,OTHER,1994.0,INTERNAL MEDICINE,EMERGENCY MEDICINE ASSOCIATES PA PC,8.022915e+09,394.0,1701 N GEORGE MASON DR,NaN,ARLINGTON,VA,222053610,7.035586e+09
2,1003000126,7517003643,ENKESHAFI,ARDALAN,M,OTHER,1994.0,INTERNAL MEDICINE,EMERGENCY MEDICINE ASSOCIATES PA PC,8.022915e+09,394.0,24440 STONE SPRINGS BLVD,NaN,DULLES,VA,201662247,5.713674e+09
3,1003000126,7517003643,ENKESHAFI,ARDALAN,M,OTHER,1994.0,INTERNAL MEDICINE,SOUTHEASTERN INTENSIVIST SERVICES PC,9.335152e+09,130.0,1401 JOHNSTON WILLIS DR,NaN,NORTH CHESTERFIELD,VA,232354730,8.044835e+09
4,1003000126,7517003643,ENKESHAFI,ARDALAN,M,OTHER,1994.0,INTERNAL MEDICINE,SOUTHEASTERN INTENSIVIST SERVICES PC,9.335152e+09,130.0,411 W RANDOLPH RD,NaN,HOPEWELL,VA,238602938,8.045412e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2174047,1992999825,143414284,DESCHENES,GEOFFREY,M,JEFFERSON MEDICAL COLLEGE OF THOMAS JEFFERSON ...,2005.0,OTOLARYNGOLOGY,VIRGINIA MASON MEDICAL CENTER,9.830003e+09,789.0,33501 1ST WAY S,NaN,FEDERAL WAY,WA,980036208,2.538382e+09
2174048,1992999825,143414284,DESCHENES,GEOFFREY,M,JEFFERSON MEDICAL COLLEGE OF THOMAS JEFFERSON ...,2005.0,OTOLARYNGOLOGY,VIRGINIA MASON MEDICAL CENTER,9.830003e+09,789.0,925 SENECA ST,VIRGINIA MASON HOSPITAL,SEATTLE,WA,981012742,2.062237e+09
2174049,1992999825,143414284,DESCHENES,GEOFFREY,M,JEFFERSON MEDICAL COLLEGE OF THOMAS JEFFERSON ...,2005.0,OTOLARYNGOLOGY,VIRGINIA MASON MEDICAL CENTER,9.830003e+09,789.0,1100 9TH AVE,NaN,SEATTLE,WA,981012756,NaN
2174050,1992999825,143414284,DESCHENES,GEOFFREY,M,JEFFERSON MEDICAL COLLEGE OF THOMAS JEFFERSON ...,2005.0,OTOLARYNGOLOGY,VIRGINIA MASON MEDICAL CENTER,9.830003e+09,789.0,4575 SANDPOINT WAY NE,NaN,SEATTLE,WA,981053999,2.065258e+09
2174051,1992999825,143414284,DESCHENES,GEOFFREY,M,JEFFERSON MEDICAL COLLEGE OF THOMAS JEFFERSON ...,2005.0,OTOLARYNGOLOGY,VIRGINIA MASON MEDICAL CENTER,9.830003e+09,789.0,4575 SAND POINT WAY NE,108 VIRGINIA MASON SAND POINT,SEATTLE,WA,981053999,2.065258e+09

In [21]:
physicanMISPdata=DataLoader.LoadFile(FilePhysicianIndivialMIPSData)

In [22]:
physicanMISPdata

,NPI,PAC ID,Last Name,First Name,Source of scores,Quality Category Score,ACI Category Score,IA Category Score,Final MIPS Score
0,1003000134,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
1,1003000522,4284705781,WEIGAND,FREDERICK,group,93.6,100.0,40.0,96.2
2,1003000597,4082848189,KIM,DAE,group,97.9,100.0,40.0,98.8
3,1003000704,2365611035,GATTON,ZACHARY,targeted review,90.9,91.8,40.0,93.0
4,1003000902,1153415187,LOHANO,JAIVANTI,apm,94.6,86.7,40.0,93.3
...,...,...,...,...,...,...,...,...,...
413228,1992998207,7719179191,SHANE,ANITA,individual,27.9,0.0,0.0,16.8
413229,1992998645,547342438,MARUPUDI,SESHASREE,apm,86.5,69.6,40.0,84.1
413230,1992998736,4880718444,LANGLEY,ADAM,group,92.4,93.0,40.0,93.7
413231,1992999122,4284728882,JOHNSON,CHARLES,individual,59.0,93.0,40.0,73.7
413232,1992999825,143414284,DESCHENES,GEOFFREY,group,100.0,100.0,40.0,100.0

In [23]:
merge_physicandata_MIPS = pd.merge(clean_physiciangeneraldata,physicanMISPdata, on="NPI", how ="inner")
merge_physicandata_MIPS.head()

,NPI,Individual Pac ID,Last Name_x,First Name_x,gndr,Med_sch,Grd_yr,pri_spec,org_nm,org_pac_id,...,zip,phn_numbr,PAC ID,Last Name_y,First Name_y,Source of scores,Quality Category Score,ACI Category Score,IA Category Score,Final MIPS Score
0,1003000134,4284706367,CIBULL,THOMAS,M,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,PATHOLOGY,NORTHSHORE UNIVERSITY HEALTHSYSTEM FACULTY PRA...,2.163335e+09,...,600261301,NaN,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
1,1003000134,4284706367,CIBULL,THOMAS,M,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,PATHOLOGY,NORTHSHORE UNIVERSITY HEALTHSYSTEM FACULTY PRA...,2.163335e+09,...,600261301,NaN,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
2,1003000134,4284706367,CIBULL,THOMAS,M,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,PATHOLOGY,NORTHSHORE UNIVERSITY HEALTHSYSTEM FACULTY PRA...,2.163335e+09,...,600352433,8.474328e+09,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
3,1003000134,4284706367,CIBULL,THOMAS,M,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,PATHOLOGY,NORTHSHORE UNIVERSITY HEALTHSYSTEM FACULTY PRA...,2.163335e+09,...,600352433,NaN,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
4,1003000134,4284706367,CIBULL,THOMAS,M,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,PATHOLOGY,NORTHSHORE UNIVERSITY HEALTHSYSTEM FACULTY PRA...,2.163335e+09,...,602011718,NaN,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6

In [24]:
merge_physicandata_MIPS.columns

Index(['NPI', 'Individual Pac ID', 'Last Name_x', 'First Name_x', ' gndr',
       ' Med_sch', ' Grd_yr', ' pri_spec', ' org_nm', ' org_pac_id',
       ' num_org_mem', ' adr_ln_1', ' adr_ln_2', ' cty', ' st', ' zip',
       ' phn_numbr', 'PAC ID', 'Last Name_y', 'First Name_y',
       'Source of scores', 'Quality Category Score', 'ACI Category Score',
       'IA Category Score', 'Final MIPS Score'],
      dtype='object')