In [8]:
from main import DataLoader
from main import DataHandler
from main import googleapi
from main import npiapi
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
from pandas.io.json import json_normalize
import pandas as pd
import json
import gmaps
import requests
from config import googlekey
from ipywidgets.embed import embed_minimal_html

In [2]:
from main import FilePhysicianIndivialMIPSData
from main import FilePhysicianGroupMIPSData
pd.set_option('display.max_colwidth', -1)

In [3]:
PhysicianData=pd.DataFrame(DataLoader.LoadFile(FilePhysicianIndivialMIPSData))

In [4]:
PhysicianData

,NPI,PAC ID,Last Name,First Name,Source of scores,Quality Category Score,ACI Category Score,IA Category Score,Final MIPS Score
0,1003000134,4284706367,CIBULL,THOMAS,group,92.6,100.0,40.0,95.6
1,1003000522,4284705781,WEIGAND,FREDERICK,group,93.6,100.0,40.0,96.2
2,1003000597,4082848189,KIM,DAE,group,97.9,100.0,40.0,98.8
3,1003000704,2365611035,GATTON,ZACHARY,targeted review,90.9,91.8,40.0,93.0
4,1003000902,1153415187,LOHANO,JAIVANTI,apm,94.6,86.7,40.0,93.3
...,...,...,...,...,...,...,...,...,...
413228,1992998207,7719179191,SHANE,ANITA,individual,27.9,0.0,0.0,16.8
413229,1992998645,547342438,MARUPUDI,SESHASREE,apm,86.5,69.6,40.0,84.1
413230,1992998736,4880718444,LANGLEY,ADAM,group,92.4,93.0,40.0,93.7
413231,1992999122,4284728882,JOHNSON,CHARLES,individual,59.0,93.0,40.0,73.7
413232,1992999825,143414284,DESCHENES,GEOFFREY,group,100.0,100.0,40.0,100.0

In [5]:
PhysicianDataMIPS100=PhysicianData.loc[PhysicianData["Final MIPS Score"] == 100.0]
len(PhysicianDataMIPS100)

71623

In [6]:
Small=pd.DataFrame(PhysicianDataMIPS100.loc[PhysicianDataMIPS100["Last Name"]=="CHALLA"])
Small

,NPI,PAC ID,Last Name,First Name,Source of scores,Quality Category Score,ACI Category Score,IA Category Score,Final MIPS Score
59719,1144291733,7911949938,CHALLA,SHEKHAR,group,100.0,100.0,40.0,100.0
215240,1528016490,1951312453,CHALLA,VIJAYA,individual,100.0,100.0,40.0,100.0
362946,1871756627,1850574609,CHALLA,SUDHA,individual,100.0,100.0,40.0,100.0
410684,1992756563,7719920354,CHALLA,USHASRI,individual,100.0,100.0,40.0,100.0

In [ ]:
Small["NPI"].to_string(index=False)

In [ ]:
def GetAddress(SingleDF):
    npi=SingleDF["NPI"]
    url=f"https://npiregistry.cms.hhs.gov/api/?version=2.0&number={npi}"
    print(url)
    response=requests.get(url).text
    response=json.loads(response)
    result=json_normalize(response["results"])
    getAddress=pd.DataFrame(json_normalize(result["addresses"][0]))
    getAddress=getAddress.loc[getAddress["address_purpose"]=='LOCATION']
    OutDF = pd.DataFrame({"NPI" : npi , 
                          "First Name" : SingleDF["First Name"],
                          "Last Name" : SingleDF["Last Name"],
                          "Address": getAddress["address_1"],
                         "City":getAddress["city"],
                         "State": getAddress["state"],
                          "PostalCode" : getAddress["postal_code"],
                          "Phone" : getAddress["telephone_number"]
                         })
    return OutDF

In [ ]:
i=0
for index,dr in Small.iterrows():
    if (i == 0):
        PhysicianAddress=pd.DataFrame(npiapi.GetAddress(dr))
    else:
        df=pd.DataFrame(GetAddress(dr))
        PhysicianAddress=PhysicianAddress.append(df,verify_integrity=False,ignore_index=True)
    i = i+1
PhysicianAddress

In [ ]:
i=0
for index,dr in PhysicianDataMIPS100.iterrows():
    if (i == 0):
        PhysicianAddress=pd.DataFrame(npiapi.GetAddress(dr))
    else:
        df=pd.DataFrame(npiapi.GetAddress(dr))
        PhysicianAddress=PhysicianAddress.append(df,verify_integrity=False,ignore_index=True)
    i = i+1
PhysicianAddress

In [ ]:
Add

In [ ]:
googleapi.getLatLon("4961 Buford Hwy NE")

In [ ]:
googleapi.getLatLon("30341")

In [ ]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=medical+clinic&rankby=distance&location=33.89,-84.30&key=AIzaSyDfDSXlAHmYf8QpgrYF1zn1WoQire1QekY"
response=requests.get(url).text
response=json.loads(response)
mapsresult=json_normalize(response["results"])
mapsresultnew=mapsresult[["name","vicinity"]]
mapsresult.head(6)

In [ ]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=medical+clinic&radius=5000&location=33.89,-84.30&key=AIzaSyDfDSXlAHmYf8QpgrYF1zn1WoQire1QekY"
response=requests.get(url).text
response=json.loads(response)
mapsresult=json_normalize(response["results"])
mapsresultnew=mapsresult[["name","vicinity"]]
mapsresultnew

In [ ]:
gmaps.configure(api_key=googlekey)
# Store 'Lat' and 'Lng' into  locations 
locations = fivestarfresh[["Lat", "Lng"]].astype(float)
myfig = gmaps.figure(center=(39, -73), zoom_level=3.9)

In [ ]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Facility Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{State}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
MyInfoTemplate = [info_box_template.format(**row) for index, row in fivestarfresh.iterrows()]
#locations = hotel_df[["Lat", "Lng"]]

In [ ]:
from IPython.display import display, HTML
# Add marker layer ontop of heat map
Hover=np.array(fivestarfresh["Facility Name"])
Hospital_Layer=gmaps.marker_layer(locations,hover_text=Hover,info_box_content=MyInfoTemplate,display_info_box=True)
myfig.add_layer(Hospital_Layer)
#Save the Map
embed_minimal_html('./output/GMAP_HospitalMarkerOnHeatMap.html', views=[myfig])
# Display Map
display(HTML(' <span style="color:#43609C">Hospital Markers: <h1>Five Star Rated Hospitals</h1> </span>  '))
myfig